{% extends 'navbar.html.twig' %}

{% block title %}Séniorissimes | C.G.U. {% endblock %}

{% block body %}

<div id='cgu' class='fullHeight'>
<div class="container">
    <p>
        Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,  ____ , ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.

        Toute connexion au site est subordonnée au respect des présentes conditions.

        Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse URL suivante ____  implique l’acceptation de l’ensemble des conditions décrites ci-après.

        Propriété intellectuelle
    </p>
    <p>
        <h4>Variante 1</h4>

        La structure générale du site ____ , ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site ____ , par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de  ____  et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 334-2 et suivants du Code de la propriété intellectuelle.

        Les marques "____ ", "____" sont des marques déposées par____ .Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.
    </p>
    <p>
        <h4>Variante 2</h4>

        Aucune reproduction, même partielle prévue à l’article L.122-4 du Code de la propriété intellectuelle, ne peut être faite de ce site sans l’autorisation du directeur de publication.
    </p>
    <p>
        <h4>Variante 3</h4>

        Tous les éléments de ce site, y compris les documents téléchargeables, sont libres de droit. A l’exception de l’iconographie, la reproduction des pages de ce site est autorisée à la condition d’y mentionner la source. Elles ne peuvent être utilisées à des fins commerciales et publicitaires.
    </p>
    <p>
        <h4>Liens hypertextes</h4>

        Le site  ____  peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site ____<br>

        Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site ____
    </p>
</div>
</div>
{% endblock %}