{% extends 'navbar.html.twig' %}

{% block title %}Séniorissimes | Accueil{% endblock %}

{% block body %}
<div class="container w-50 pt-5">

    <h2 class='text-start pb-3'>Entrez votre ville</h2>
    <form action="#" method='POST' class='row gap-2 m-auto align-items-stretch'>
    {{ form_start(form) }}
        {# <input type="text" name="ville" id="ville" class='col-md' placeholder='Bordeaux'> #}
        {{ form_widget(form.ville) }}
        <button type="submit" id='villeBtn' class='col-md-4 col-sm-12 col-lg-2'>Rechercher</button>
        {{ form_end(form) }}
    </form>

    <p class='text-end pt-3'>... et découvrez les activités que vous permet votre météo !</p>
</div>
{% endblock %}
